body {
   background: #ebebeb;
}

.container{
   max-width: 60%;
   min-width: 380px;
   margin: auto;
   color: grey;
   font-family: "Open Sans", sans-serif;
   font-size: 1.1em;
}

.header{
   text-align: center;
}

.header img{
   border-radius: 50%;
   box-shadow: 0 0 0 6px rgba(0,0,0, .06);
   margin: 15px 30px;
   transition: .2s;
}

.header img:hover{
   box-shadow: 0 0 0 12px rgba(0,0,0, .1);
}

.header h2{
   color: #dd5657;
}
.header a{
   text-decoration: none;
   background: #dd5657;
   color: #ffffff;
   padding: 10px 20px;
   display: inline-block;
   border-radius: 3px;
   font-size: 14px;
   transition: 0.4s;
}

.header a:hover{
   box-shadow: 0 0 0 3px #dd5657;
}

.icon{
   display: block;
}