body {
   background: #ebebeb;
}

.container{
   max-width: 60%;
   min-width: 380px;
   margin: auto;
   color: grey;
   font-family: "Open Sans", sans-serif;
   font-size: 1.1em;
}

.header{
   margin: 2% 0;
   background-color: white;
   text-align: center;
   border: 1px solid lightgray;
   padding: 30px;
   border-radius: 1%;
   box-shadow: 0px 1px 5px 1px rgb(180, 180, 180);

}

.header img{
   border-radius: 50%;
   box-shadow: 0 0 0 6px rgba(0,0,0, .06);
   margin: 15px 30px;
   transition: .2s;
}

.header img:hover{
   box-shadow: 0 0 0 12px rgba(0,0,0, .1);
}

.header h2{
   color: #dd5657;
}

.header p{
   text-align: justify;
}

.header a{
   text-decoration: none;
   background: #dd5657;
   color: #ffffff;
   padding: 10px 20px;
   display: inline-block;
   border-radius: 3px;
   font-size: 14px;
   transition: 0.4s;
}

.header a:hover{
   box-shadow: 0 0 0 3px #dd5657;
}

.social{
   margin: 2% 0;
   background-color: white;
   border: 1px solid lightgrey;
   padding: 4%;
   border-radius: 3%;
   box-shadow: 0px 1px 5px 1px rgb(180, 180, 180);
}

.effect{
   padding: 20px 0px;
}

table{
   padding: 5% 0;
   width: 100%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
.icon{
   display: block;
}

a {
   color: gray;
}
a:link {
   text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.movies{
   display: inline-block;
   text-align: center;
   flex-wrap: wrap;
   margin: 2% 0;
   padding: 0 5%;
   background-color: white;
   border: 1px solid lightgrey;
   border-radius: 1%;
   box-shadow: 0px 1px 5px 1px rgb(180, 180, 180);
}

h3 span {
   background-color: rgb(163, 162, 162);
}
.movie{
   display: flex;
   margin: 10% 0;
}

.cover{
   display: flex;
   height: 200px;
}

.summary{
   display: inline-block;
   height: 30%;
   padding: 0% 2% 0% 5%;
}

.summary p{
   text-align: justify;
}
